<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eleventy Edge Wordle</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/kimeiga/bahunya/css/bahunya-0.1.3.css" />
</head>
<body>
	<main>
		<h1>Eleventy Edge Wordle</h1>

		{% edge %}
		{{ eleventy.edge.cookies.guesses | table: eleventy.edge.cookies.solution }}
		
		{% if eleventy.edge.cookies.state == "win" %}
		<p>
			<mark>Congrats!</mark>
		</p>
		{% elsif eleventy.edge.cookies.state == "loss" %}
		<p>
			<mark>Try again tomorrow!</mark>
		</p>
		{% else %}
		<form action="{{ page.url }}" method="post">
			<label for="guess">Guess a word:</label>
			<input
				type="text"
				id="guess"
				name="guess"
				minlength="5"
				maxlength="5"
				pattern="[a-zA-Z]{5}"
				title="Five-letter word"
				required
				autofocus
			/>
			<button type="submit">Guess</button>
		</form>
		{% endif %}
		{% endedge %}

		<p hidden id="wrong-desc">Not in word</p>
		<p hidden id="out-of-place-desc">In the wrong place</p>
		<p hidden id="correct-desc">Correct</p>

		<style>
			h1 {
				font-size: 300%;
				text-align: center;
			}

			table {
				min-width: 40ch;
				margin: auto;
				margin-bottom: 2em;
			}

			td {
				text-transform: uppercase;
				aspect-ratio: 1 / 1;
				width: 4rem;
				height: 4rem;
				text-align: center;
				font-weight: bold;
				font-size: 150%;
			}

			[data-status="correct"] {
				background-color: olivedrab;
			}

			[data-status="out-of-place"] {
				background-color: goldenrod;
			}

			[data-row-status~="last"] {
				animation: fadeIn 2s;
			}

			@keyframes fadeIn {
				0% {opacity:0;}
				100% {opacity:1;}
			}
			
			[type="text"] {
				text-transform: uppercase;
			}

			table + p {
				text-align: center;
			}

			mark {
				font-style: italic;
				font-weight: bold;
				font-size: 125%;
				padding: 0.6% 0.9%;
			}
		</style>
	</main>
</body>
</html>